@import url(fonts.css);
@import url(null.css);

/* font-family: "Inter", sans-serif;
font-family: "DM Sans", sans-serif;
font-family: "Open Sans", sans-serif; main text
font-family: "Mulish", sans-serif; */

body {
  background-color: #69b99d;
  font-size: 16px;
  font-family: var(--main-font-family);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 1280px;
  background-color: #ffffff;
  /* margin: 0 auto; */
}

[class*='-container'] {
  width: 1040px;
  margin: 0 auto;
}
/* Header */

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 64px;
}
.logo {
}

.logo-link {
  color: #89c5cc;
  font-size: 22px;
  font-style: normal;
  font-family: 'Inter', sans-serif;
  font-weight: 700;

  transition: text-shadow 0.3s ease;
}

.logo-link:hover {
  text-shadow: 1px 1px 0 #b0ce91;
}

.menu-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.menu-item {
  color: #1f1534;
  font-size: 18px;
  font-style: normal;
  font-family: 'Mulish', sans-serif;
  font-weight: 400;

  transition: text-shadow 0.3s ease;
}

.menu-item:hover {
  text-shadow: 1px 1px 0 #898989;
}

.menu-item-active {
  font-weight: 700;
}

.menu-item:not(:last-child) {
  margin-right: 48px;
}

/* Main */

.main-container {
  margin-top: 22px;
  display: flex;
}

.hero-text-block {
  margin-top: 92px;
}
.hero-title-text {
  color: #000;
  font-size: 48px;
  font-style: normal;
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 0;
  text-transform: uppercase;
}
.hero-text__accent {
  color: #89c5cc;
}
.hero-label-text {
  margin-top: 16px;
  max-width: 448px;
  padding-right: 10px;

  color: #7d7987;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0;
}
.hero-label-text__accent {
  font-weight: 700;
}
.hero-button {
  display: flex;
  align-items: center;

  background-color: #69b99d;
  color: #f9f9f9;
  font-size: 16px;
  font-style: normal;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  padding: 14px 32px 15px;
  border-radius: 4px;
  margin-top: 48px;
  border: 1px solid #69b99d;

  transition: 0.3s ease;
}

.hero-button:hover {
  color: #69b99d;
  background-color: #f9f9f9;
}

.hero-button__icon {
  margin-right: 10px;
}

.hero-button__icon path {
  transition: 0.3s ease;
}

.hero-button:hover .hero-button__icon path {
  fill: #69b99d;
}

.hero-img-block {
}
/* Footer */

.footer-container {
  margin-top: 46px;
  margin-bottom: 29px;
}
.footer-text {
  text-align: center;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
}
.footer-text__accent {
  font-weight: 700;
}
